<%= form_with(model: Message.new, class: "contents", html: {data: { action: "submit->messages#submitForm"}})  do |form| %>
    <div class="inline-flex w-full">
        <div class="body-messages">
          <%= form.text_field :body, class: "text-messages form-control-lg", placeholder: "Enter Message..." %>
        </div>
        <div class="button-message">
          <%= form.button '<i class="fa-solid fa-angles-right"></i>'.html_safe, class: "cursor-pointer" %>
        </div>
    </div>
<% end %>
