<%= form_with(model: Message.new, class: "contents") do |form| %>
    <div class="inline-flex w-full">
        <div class="body-messages">
          <%= form.text_area :body, rows: 2, class: "text-messages" %>
        </div>
        <div class="button-message">
          <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium cursor-pointer", value: "create" %>
        </div>
    </div>
<% end %>
