<div id="<%= dom_id message %>" class="snap-center">
  <p class="my-5">
    <%= message.body %>
  </p>
  <div>
    <%#= button_to "Edit ", edit_message_path(message), method: :post, class: "rounded-lg py-3 px-5 bg-green-600 text-white inline-block font-medium cursor-pointer" %>
    <%#= button_to "Destroy ", message_path(message), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
  </div>
</div>
