<div id="<%= dom_id message %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= message.body %>
  </p>

  <% if action_name != "show" %>
    <%= button_to "Edit this message", edit_message_path(message), method: :post %>
    <%= button_to "Destroy this message", message_path(message), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
