<div class="side-menu">
  <div class="auto-cols-auto justify-items-center">
  <div class="p-5"><i class="fa-solid fa-magnifying-glass"></i></div>
  <div class="p-5"><i class="fa-brands fa-facebook"></i></div>
  <div class="p-5"><i class="fa-brands fa-twitter"></i></div>
  <div class="p-5"><i class="fa-solid fa-phone"></i></div>
  </div>
</div>
